extends base.pug
block style 
    link(rel="stylesheet", href="./stylesheets/homestyle.css")

block content 
  
    div.right
        img(src="./images/logo.png" alt="not found")
        div SM Electrical Ltd
    div.left
        h2
            bold Welcome to SM Electrical Ltd
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus unde vitae itaque in earum corrupti impedit officia expedita, neque ab doloremque, dolor perferendis quis amet libero doloribus quidem! Aliquid placeat suscipit officia adipisci voluptatem. Debitis voluptate, quo ab temporibus beatae corrupti sequi deleniti aliquid magni iure explicabo quam, impedit doloremque?
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores consequuntur velit corrupti veniam incidunt esse totam saepe laboriosam adipisci fugit quos eum consequatur quas fuga placeat suscipit optio commodi impedit dolor aliquam qui animi, numquam ut eveniet. Culpa recusandae architecto minima doloribus deserunt officia ipsum rerum adipisci voluptatibus, id maiores repellendus enim velit ducimus odit quaerat eaque saepe praesentium exercitationem, modi ex error veniam rem optio. Facere voluptate libero minima maxime nostrum perspiciatis quae hic a, adipisci et deleniti architecto optio nesciunt veniam tempora quibusdam magni nam maiores, aut eius quia cupiditate explicabo? Ab sint eum dicta et praesentium. Omnis!
           