doctype html 
html 
  head 
    title #{title}
    link(rel="shortcut icon", href="./images/logo.png", type="image/x-icon")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    link(rel="stylesheet", href="./stylesheets/basestyle.css")
    block style
       link(rel="stylesheet", href="./stylesheets/homestyle.css")

  body 
    nav.navbar.navbar-inverse.bg-primary
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') SM Electrical Ltd
          ul.nav.navbar-nav
            li.active
              a.add(href='/') Home
            li
              a.add(href="/signup") Register Customer 
            li 
              a.add(href="/meterdetails_entry") Register Meter 
            
            li
              a.add(href='/customerdetails') Customer Details 
            li
              a.add(href='/meterdetails') Meter Details 
            li
              a.add(href='#') About US
          ul.nav.navbar-nav.navbar-right
            li 
              form.navbar-form(action='/action_page.php')
                .form-group
                  input.form-control(type='text' placeholder='Search Here')
                button.btn.btn-primary(type='submit') Search

            li
                a(href='#')
                  span.glyphicon.glyphicon-user
                  |  Sign Up
            li
                a(href='#')
                  span.glyphicon.glyphicon-log-in
                  |  Login   

    block content

      div.right
          img(src="./images/logo.png" alt="not found")
          div SM Electrical Ltd
      div.left
          h2
              bold Welcome to SM Electrical Ltd
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus unde vitae itaque in earum corrupti impedit officia expedita, neque ab doloremque, dolor perferendis quis amet libero doloribus quidem! Aliquid placeat suscipit officia adipisci voluptatem. Debitis voluptate,   quo ab temporibus beatae corrupti sequi deleniti aliquid magni iure explicabo quam, impedit doloremque?
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores consequuntur velit corrupti veniam incidunt esse totam saepe laboriosam adipisci fugit quos eum consequatur quas fuga placeat suscipit optio commodi impedit dolor aliquam qui animi, numquam ut eveniet. Culpa recusandae architecto minima doloribus deserunt officia ipsum rerum adipisci voluptatibus, id maiores repellendus enim velit ducimus odit quaerat eaque saepe praesentium exercitationem, modi ex error veniam rem optio. Facere voluptate libero minima maxime nostrum perspiciatis quae hic a, adipisci et deleniti architecto optio nesciunt veniam tempora quibusdam magni nam maiores, aut eius quia cupiditate explicabo? Ab sint eum dicta et praesentium. Omnis!
